@media screen and (max-width: 1400px){
    .menu{
        padding: 0 100px ;
    }
    .banner{
        padding: 0 100px 56px 100px;
    }
    .logos{
        padding: 76px 100px ;
    }
    .about{
        padding:  0 100px ;
        .caption{
            .title{
                font-size: 46px;
            }
        }
    }
    .stats{
        padding:  0 100px ;
    }
    .work{
        padding: 0 100px 90px 100px;
        &::after{
            content: "";
            display: block;
            width: calc(100% - 2 * 90px);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: #F3D1BF;
        }
    }
    .video{
        padding: 0 100px;
    }
    .feature{
        padding: 0 100px;
    }   
    .Professional{
        padding: 0 100px;
    }
    .service{
        padding: 0 100px;
    }
    .help{
        padding: 0 100px 110px 100px;
    }
    .portfolio{
        padding: 90px 100px 70px 100px;
    }
    .images{
        padding: 0 100px;
    }  
    .get{
        padding: 0 100px;
        .colori{
            padding: 70px 60px 0 60px;
            .third{
                img{
                    height: 250px;
                }
                .girl{
                    right: 5px;
                    img{
                        width: 250px;
                        height: 410px;
                    }
                }
            }
        }
    }  
    .event{
        padding: 0 100px;
    }
    .date{
        padding: 0 100px;
        .one{
            .down{
                height: 280px;
            }
        }
    }
    .team{
        padding: 0 100px;
    }
    .sliderfirst{
        padding: 0 100px;
        display: none;
    }
    .slidertwo{
        padding: 0 110px;
        display: block;
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .inside{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 10px;
                    .img{
                        padding-top: 10px;
                        width: 100%;
                        border: 1px solid #3A3C56;
                        border-radius: 6px;
                        height: 272px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .promb{
                        img{
                            width:210px;
                        }
                    }
                    .black{
                        img{
                            width: 290px;
                        }
                    }
                    .fun{
                        img{
                            width: 225px;
                        }
                    }
                    .blonde{
                        img{
                            width: 250px;
                        }
                    }
                    .title{
                        margin-top: 15px;
                        color: var(--Text_Light, #ffffff);
                        font-feature-settings: 'clig' off , 'liga' off;
                        font-style: normal;
                        font-weight: 700;
                        font-size:24px;
                        line-height: 32px;
                    }
                    .paragraph{
                        color: var(--Text_Light_Gray, #FFFFFFA3);
                        font-feature-settings: 'clig' off , 'liga' off;
                        font-style: normal;
                        font-weight: 400;
                        font-size:16px;
                        line-height: 32px; 
                        margin-bottom: 50px;

                    }
                }
              }
          }
    }
    .founder{
        padding: 0 100px;
    }
    .Testi{
        padding: 0 100px;
        padding-top: 100px;
    }
    .buttonn{
        padding: 0 100px;
    }
    .Pricing{
        padding: 0 100px ;
    }
    .offf{
        padding: 0 100px;
    }
    .Faq{
        padding: 0 100px;
    }
    .ourss{
        padding: 0 100px;
    }
    .awards{
        padding: 0 100px;
    }
    .blog{
        padding: 0 100px ;
    }
    .Articles{
        padding: 0 100px;
    }
    .letter{
        padding: 0 100px;
    }
    .map{
        padding: 0 100px;
        .pin{
            right:220px;
        }
    }
    .cont{
        padding: 0 100px;
    }
    .redbig{
        padding: 0 100px;
    }
    .footer{
        padding: 0 100px;
    }
    .finall{
        padding: 0 100px;
        padding-bottom: 50px;
    }
}